/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */

@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
  background-color: #cbd5e1;
}
main {
  @apply m-0 mx-auto px-8;
}
body {
  font-family: 'Noto Sans JP', sans-serif;
  padding: 0;
  text-align: left;
  background-size: 100% 600px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  line-height: 1.7;
  @apply text-base leading-7 m-0 mx-auto;
}
