---
import Layout from "../layouts/BlogPost.astro";
---

<Layout
  title="フナイログについて"
  description="フナイログについての説明文"
  publishedDate={new Date("January 01 2099")}
>
  <h2 class="text-center border-0 font-semibold">
    買った後悔より、買わない後悔の方がきっと大きい。
  </h2>
  <p class="pt-8 pb-16">
    フナイログは、『ガジェット』を中心に、PCやデスク周辺の『仕事道具』や『乗り物のコト』を綴る個人メディアです。買ってよかったモノなど、フナイログの中の人の目線で紹介しています。<br
    /><br />
    ここで紹介するのは「<b>シンプル</b>」なモノや「<b>気分を上げる</b
    >」モノです。
    スタイリッシュでスマートなアイテムをたくさん紹介していきたいと思うので、気になるひとはぜひ記事を読んでみてくださいね。
  </p>
</Layout>
