---
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'a'>;

const { href, class: className, ...props } = Astro.props;

const { pathname } = Astro.url;
const isActive = href === pathname || href === pathname.replace(/\/$/, '');
---

<a
  href={href}
  class="font-bold text-gray-700 dark:text-gray-200 hover:text-blue-700 dark:hover:text-yellow-400 dark:[&.active]:text-yellow-400 [&.active]:text-blue-700"
  class:list={[className, { active: isActive }]}
  {...props}
>
  <slot />
</a>
