---
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'a'>;

const { href, class: className, ...props } = Astro.props;

const { pathname } = Astro.url;
const isActive = href === pathname || href === pathname.replace(/\/$/, '');
---

<a
	href={href}
	class="py-4 text-base align-middle text-black border-b-4 border-transparent border-solid [&.active]:border-b-sky-500 no-underline inline-block"
	class:list={[className, {"active": isActive}]}
	{...props}
	>
	<slot />
</a>
