---
import { SITE_TITLE } from '../consts';
import HeaderLink from './HeaderLink.astro';
import ThemeIcon from './ThemeIcon.astro';
---

<header
  class="flex flex-wrap sm:justify-start sm:flex-nowrap z-50 w-full bg-white text-sm py-4 dark:bg-black dark:border-b-2 dark:border-gray-800"
>
  <nav class="max-w-[85rem] w-full mx-auto px-4 sm:flex sm:items-center sm:justify-between" aria-label="Global">
    <a class="flex-none text-lg font-semibold dark:text-white" href="/">{SITE_TITLE}</a>
    <div class="flex flex-row items-center gap-5 mt-5 sm:justify-end sm:mt-0 sm:pl-5">
      <HeaderLink href="/about-funailog">About</HeaderLink>
      <HeaderLink href="/about-me">Profile</HeaderLink>
      <HeaderLink href="/privacy-policy">Privacy</HeaderLink>
      <ThemeIcon />
    </div>
  </nav>
</header>
